.App {
  text-align: center;
}

@font-face {
  font-family: "forest-font";
  src: url(Fonts/CfOneTwoTreesRegular-4LGp.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "forest-font2";
  src: url(Fonts/Jfwildwood-ldYZ.ttf);
}

@font-face {
  font-family: "forest-font3";
  src: url(Fonts/CfArbreRegular-vaGO.ttf);
}

@font-face {
  font-family: "bea";
  src: url(Fonts/BeautifulPeoplePersonalUse-dE0g.ttf);
}

body {
  background: url("https://www.eea.europa.eu/highlights/eight-facts-about-europe2019s-forest-ecosystems/image_panoramic")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: rgb(34, 8, 8);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.navbar li {
  display: flex;
  justify-content: space-evenly;
  width: 23vw;
  float: left;
  color: #f2f2f2;
}

.navbar li:hover {
  color: #228c22;
  text-decoration: underline overline;
  transform: scale(1.1);
}

.nav-link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 14px 14px;
  font-size: 20px;
  font-family: "forest-font2";
}

.intro-page {
  text-align: center;
  padding: 200px 0;
}

.intro-h1 {
  color: white;
  font-family: "forest-font";
  font-size: 15vh;
  cursor: pointer;
}

a:hover {
  color: #228c22;
  text-decoration: underline overline;
  transform: scale(1.1);
}

.page-header {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.headerh2 {
  font-family: "forest-font2";
  font-size: 3vh;
  color: white;
  text-decoration: none;
}

.bio-photo {
  border-radius: 25px;
  max-height: 65vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.bio-content {
  color: white;
  /* margin-bottom: 15vh; */
  margin: auto;
  font-family: "Roboto Slab", serif;
  background-color: #322002e6;
  border-radius: 25px;
  /* height: 65vh; */
}

.bio-page {
  text-align: center;
}

.bio-p {
  padding-left: 2vw;
  padding-right: 2vw;
}

.bio-div {
  padding: 4vh;
  margin-bottom: 2vh;
}

.bio-name-link {
  text-decoration: none;
  color: white;
}

.bio-name-link:hover {
  color: #228c22;
}

.animate {
  color: white;
  font-family: "forest-font2";
  font-size: 8vh;
  text-align: center;
}

.projects-photo {
  max-width: 50vw;
  border-radius: 25px;
  margin: auto;
}

.scroll-container {
  text-align: center;
  margin: auto;
}

.projects-content {
  background-color: #322002e6;
  width: 75vw;
  margin: auto;
  border-radius: 200px;
  /* max-height: 20vw; */
  margin-bottom: 15vh;
  padding: 4vh;
  padding-bottom: 6vh;
} 

.projects-p{
  padding-top: 2vh;
  font-family: "Roboto Slab", serif;
  color: white;
  padding-left: 15vw;
  padding-right: 15vw;
}

.projects-name-link {
  text-decoration: none;
  color: white;
  font-size: 6vh;
}

.projects-name-link:hover{
  color: #228c22;
}

.project-img-div{
  text-align: center;
  /* margin: auto; */
  margin-bottom: 2vh;
  /* max-width: 40vw;
  max-height: 40vh; */
}

.d-block{
  max-width: 80vw;
  max-height: 40vh;
  margin: auto;
  text-align: center;
  border-radius: 25px;
}

.carousel{
  width: 70vw;
  margin: auto;
}

.here{
  color: #228c22; 
}

.here:hover{
  color: #228c22;
  text-decoration: underline; 
}

@media (max-width: 500px) {
  .bio-page{
    width: 100vw;
    margin: auto;
    text-align: center;
  }
  .bio-photo{
    width: 80vw;
  }
  .bio-div{
    margin-bottom: 5vh;
  }
  .nav-link{
    width: 100vw;
    justify-content: center;
  }
  .navbar{
    width: 100vw;
  }
}