.App {
  text-align: center;
}

@font-face {
  font-family: 'forest-font';
  src: url(Fonts/CfOneTwoTreesRegular-4LGp.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'forest-font2';
  src: url(Fonts/Jfwildwood-ldYZ.ttf);
}

@font-face {
  font-family: 'forest-font3';
  src: url(Fonts/CfArbreRegular-vaGO.ttf);
}

@font-face {
  font-family: 'bea';
  src: url(Fonts/BeautifulPeoplePersonalUse-dE0g.ttf);
}

body {
  background: url("https://www.eea.europa.eu/highlights/eight-facts-about-europe2019s-forest-ecosystems/image_panoramic")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: rgb(34, 8, 8);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.navbar li {
  display: flex;
  justify-content: space-evenly;
  width:23vw;
  float:left;
  color: #f2f2f2;
} 

.nav-link{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 14px 14px;
  font-size: 20px;
  font-family: 'forest-font2'
}

